.zagolovok {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
}

.text {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.group {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.group2 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 1rem;
}

.blok {
    margin-bottom: 1.2rem;
    width: 55%;
    height: 200px;
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
}

.blok:hover {
    box-shadow: 4px 8px 16px rgba(184, 179, 178, 0.582);
}

.strelka {
    width: 30px;
    height: 30px;
}

.photo {
    width: 150px;
    height: 100%;
    border-radius: 5px;
}

.name {
    font-size: 1.3rem;
    padding: 1rem;
}

.text2 {
    font-size: 1rem;
    padding: 0 1.5rem;
}

.rovno {
    display: flex;
    flex-direction: column;
}

.check {
    background-color: #e09f10; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 12rem;
    height: auto;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.check1 {
  background-color: white; 
  color: black; 
  border: 2px solid #e09f10;
}

.check1:hover {
    background-color: #e09f10;
    color: white;
}

.place {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

@media (max-width: 1400px) {
    .blok {
        margin-bottom: 1.2rem;
        width: 55%;
        height: auto;
        background-color: rgb(247, 247, 247);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        transition: 0.2s;
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
    }
    
}

@media (max-width: 720px) {
    .blok {
        margin-bottom: 1.2rem;
        width: 100%;
        height: auto;
        background-color: rgb(247, 247, 247);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        transition: 0.2s;
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
    }
    
}