/* шапка */

body {
    font-family: Jura;
    user-select: none;
    background-color: #F2F2F2;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.menu {
  image-resolution: url(img/menu-burger.png);
}

.reg-button {
  background-image: url(img/user.png);
  border: none;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

/* Категории товаров */
.categories{
	background:url(img/cate.png) no-repeat;
	background-size:cover;
	height: auto;
	text-align:center;
	padding:5em 0;
  display: grid;
  flex-wrap: wrap;
       
}
.categories h3,.bikes h3{
	 color:#000;
	 font-size:2em;
	 font-weight:auto;
}
.bikes h3{
	text-align:center;
}
.categorie-grids {
     margin-top:4em;
     display: flex;
     justify-content: center;
}

@media (max-width: 615px) {
  .categorie-grids {
    margin-top:4em;
    display: inline-block;
    justify-content: center;
}
}

.cate-grid{	
	padding:10em 0 5em 0; 
	min-height:290px;
	background-size: 100%;
	margin:0 12px;
	width: 22rem;
}
.grid1{
	background:url(img/c1.jpg) no-repeat;
}
.grid2{
	background:url(img/c2.jpg) no-repeat;
}
.grid3{
	background:url(img/c3.jpg) no-repeat;
}
.cate-grid h4{
	color:#fcff19;
	font-size:1.1em;
	font-weight:600;
	letter-spacing:1px;
	margin-bottom:6px;
} 
.cate-grid p{
	color:#fff;
	font-size:1.3em;
	font-weight:200;
}
a.store{
	color:#fff;
	font-size:0.9em;
	border:3px solid #fff;
	border-radius:7px;
	font-weight:500;
	display:inline-block;
	padding:0.7em 1.4em;
	margin-top:1.5em;
}
a.store:hover{
	border:2px solid #fcff19;
	color:#fcff19;
}

.clearfix:before,
.clearfix:after{
    display:table;
    content:"";
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text1{
  text-align: center;
  font-size: 1.6em; 
  border: none;
  padding-bottom: 2rem;
}

.group {
  display: grid;
  justify-content: center;
  padding: 3rem 10rem;
}

.header {
  position: fixed; /* Делаем header фиксированным */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.822); /* Белый цвет с прозрачностью 50% */
  padding: 20px;
  z-index: 1000; /* Устанавливаем z-index, чтобы header был над другими элементами */
}

.line {
  padding: 3rem 0rem;
  width:100%;
  color:#000;
  size: 2;
}

.podval {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 10rem;
}

@media (max-width:450px) {
  .podval {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 3rem;
  }
}

.tag1 {
  font-size: 1.4em;
}

.category {
  display: grid;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5em;
  color: #000;
}

.icons {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.line2 {
  color: #000;
  size: 2;
  padding: 0.5rem 0rem;
  width: 100%;
}

/* новости велотуров и велоспорта */

.group2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.group3 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 1rem;
}

.blok {
  margin-bottom: 1.2rem;
  width: 55%;
  height: 200px;
  background-color: rgb(247, 247, 247);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
}

.blok:hover {
  box-shadow: 4px 8px 16px rgba(184, 179, 178, 0.582);
}

.strelka {
  width: 30px;
  height: 30px;
}

.photo {
  width: 150px;
  height: 100%;
  border-radius: 5px;
}

.name {
  font-size: 1.3rem;
  padding: 1rem;
}

.text2 {
  font-size: 1rem;
  padding: 0 1.5rem;
}

.rovno {
  display: flex;
  flex-direction: column;
}

.check {
  background-color: #e09f10; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 12rem;
  height: auto;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.check1 {
background-color: white; 
color: black; 
border: 2px solid #e09f10;
}

.check1:hover {
  background-color: #e09f10;
  color: white;
}

.place {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

@media (max-width: 1400px) {
  .blok {
      margin-bottom: 1.2rem;
      width: 55%;
      height: auto;
      background-color: rgb(247, 247, 247);
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      transition: 0.2s;
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
  }
  
}

@media (max-width: 720px) {
  .blok {
      margin-bottom: 1.2rem;
      width: 100%;
      height: auto;
      background-color: rgb(247, 247, 247);
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      transition: 0.2s;
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
  }
  
}

.zagolovok2 {
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
}

/* где нас найти */

.map {
  justify-content: center;
  display: flex;
}

.adress {
  display: grid;
  text-decoration: none;
  line-height: 1.5em;
  color: #000;
  justify-content: center;
  text-align: center;
}

/* кнопка авторизации */

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}